.container {
  padding: 2rem;
  text-align: center;
}

.title {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  height: 180px;
  background-color: var(--color-hover);
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: var(--color-primary);
  color: white;
}

.icon {
  font-size: 36px;
  margin-bottom: 0.5rem;
}

.cardText {
  font-weight: 600;
}

.cardSubtext {
  font-size: 12px;
  opacity: 0.8;
}
.programCard {
  background: white;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.programHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.programName {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.deleteProgram {
  background: #c62828;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.addModuleButton {
  background: var(--color-secondary);
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}
